@font-face {
    font-family: 'SovMod';
    src: url('SovMod.eot');
    src: url('SovMod.eot?#iefix') format('embedded-opentype'),
         url('SovMod.svg#SovMod') format('svg'),
         url('SovMod.ttf') format('truetype'),
         url('SovMod.woff') format('woff'),
         url('SovMod.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family: 'Monotype Corsiva';
    src: url('../fonts/monotypecorsiva.ttf') format('truetype');
    font-weight: normal;
}