.container{
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container{
    width: 100%;
}

.btn{
    width: 260px;
    height: 54px;
    background-color: transparent;
}

input{
    margin: 0;
    padding: 0;
}

.title{
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    font-family: 'Monotype Corsiva';
}

body{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $clr-1;
}

.absolute{
    position: absolute;
    z-index: -1;
}