.request{
    background: url('../images/request-bg.jpg') ;
    // filter: brightness(.5);
    height: 277px;
    &__bg{
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        
    }
    &__box{
        padding-top: 54px;
        text-align: center;
    }
    &__title{
        color: $clr-2;
        margin-bottom: 5px;
    }
    &__text{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 25px;
        color: $clr-2;
        margin-bottom: 40px;
    }
    &__form{
        max-width: 1500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-item{
            cursor: pointer;
            max-width: 460px;
            width: 100%;
            height: 60px;
            font-size: 16px;
        }
        &-item{
            
            &-wrap{
                display: flex;
                flex-direction: column;
                color: $clr-2;
            }
        }
        #request-name,
        #request-number{
            padding-left: 30px;
        }
        #request-btn{
            background: $clr-btn-2;
            color: $clr-2;
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
}

.brands{
    &__inner{
        padding-top: 100px;
    }
    &__title{
        color: $clr-1;
        margin-bottom: 40px;
        text-align: center;
    }
    &__items{
        display: flex;
        margin-bottom: 50px;
        border: 1px solid rgba(45, 45, 45, 0.5);
    }
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 250px;
        height: 250px;
        justify-content: center;
    }
    &__item + &__item{
        border-left: 1px solid rgba(45, 45, 45, 0.5);
    }
    &__item:nth-child(even){
        background-color: #f4f4f4;
    }
}

.feedback{
    padding-top: 50px;
    position: relative;
    &__inner{
        display: flex;

    }
    &__box{
        text-align: start;
        padding-right: 35px;
    }
    &__title,
    &__text{
        color: $clr-1;
        
    }
    &__text{
        width: 495px;
    }
    &__form{
        flex-direction: column;
        margin-bottom: 85px;
        &-item{
            background-color: transparent;
            border: 1px solid #2D2D2D;
            margin-bottom: 23px;
            &-wrap{
                color: $clr-1;
            }
        }
    }
    &__phrase{
        font-size: 23px;
        letter-spacing: 0.11em;
        color: $clr-1;
        opacity: .5;
        font-family: 'Monotype Corsiva';
        font-style: italic;
    }

    &__gallery{
        overflow: hidden;
        &-item-wrap{
            display: grid;
            grid-template-columns: 310px minmax(300px, 600px);
            grid-template-rows: 306px 305px;
            
        }
        &-item{
            object-fit: contain;
        }
    }

    &__absolute-top{
        position: absolute;
        top: -249px;
        right: -80px;
        z-index: -1;
    }
    &__absolute-bottom{
        position: absolute;
        top: 362px;
        left: -20px;
        z-index: -1;
    }
}