@media (max-width: 1536px) {
    .header__top-info{
        padding: 124px 0px 61px 0px;;
    }
    .header__top-btns{
        padding: 0 169px 0 120px;
    }


    .swiper-button-prev{
        left: -37px !important;
    }
    .swiper-button-next{
        right: -37px !important;
    }
}
@media (max-width: 1440px) {
    .swiper-buttons{
        display: none;
    }
}
@media (max-width: 1366px) {
    .swiper{
        max-width: 1500px;
    }
    .request__form-item{
        max-width: 440px;
    }
}
@media (max-width: 1280px) {
    .request__form-item{
        max-width: 430px;
    }
    .request__form-item-wrap label{
        font-size: 12px;
    }
    .feedback__form-item-wrap label{
        font-size: 13.69px;
    }
}
@media (max-width: 1024px) {
    .header__bg{
        display: none;
    }
    .header__top-info{
        padding: 124px 0px 61px 17px;;
    }
    .swiper{
        max-width: 1400px;
    }
    .request{
        height: 550px;
        &__form{
            flex-direction: column;
            align-items: center;
        }
        &__form-item{
            margin-bottom: 25px;
            max-width: 508px;
        }
        &-number{
            margin-bottom: 35px;
            max-width: 508px;
        }
        &__form-item-wrap{
            width: 508px;
            & label{
                font-size: 16px;
                opacity: 0.7;
            }
        }
    }
    .brands__items{
        flex-direction: column;
        flex-flow: wrap;
    }
    .brands__item{
        width: 330px;
    }
    .feedback__inner{
        flex-direction: column;

    }
    .feedback__form{
        margin-bottom: 40px;
    }

    .feedback__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 0;
    }
    .feedback__text{
        margin-bottom: 20px;
    }
    .feedback__gallery{
        align-items: center;
        margin-bottom: 5px;
    }
    .feedback__gallery-item-wrap{
        grid-template-columns: 310px auto;
    }
    .feedback__gallery-item{
        width: 100%;
    }
    .feedback__phrase{
        display: none;
        &_bottom{
            display: block;
            text-align: center
        }
    }
    .location__inner{
        // flex-direction: column;
        align-items: center;
    }
    .location__box{
        padding-top: 0;
    }
    .location__map iframe{
        display: none;
    }
    .location__address{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .location__address-map{
        display: block;
        width: 400px;
        height: 400px;
    }
    .location__absolute{
        top: 150px;
    }
    .footer{
        height: 320px;
    }
    .footer__menu{
        flex-direction: column;
    }
    .menu__list{
        margin-bottom: 15px;
        margin-bottom: 28px;
    }
    .menu__list-link{
        margin-bottom: 15px;
    }
    .footer__feedback{
        padding-left: 0;
        display: flex;
        flex-flow: column-reverse;
    }
    .footer__btn{
        margin-bottom: 15px;
    }
}
@media (max-width: 834px) {
    .header{
        margin-bottom: 120px;
    }
    .header__top-bg{
        display: none;
    }
    .header__bg{
        display: block;
        max-width: 300px;
    }
    .header__top-info {
        padding: 50px 20px;
    }
    .header__elements{
        padding-right: 0;
    }
    .header__feedback{
        display: none;
    }
    .header__screen .header__screen-feedback{
        display: flex;
        align-items: center;
        padding-left: 15px;
    }
    .header__phone{
        padding-right: 3px;
    }
    .benefits{
        margin-bottom: 50px;
    }
    .benefits__box{
        flex-flow: wrap;
        justify-content: space-between;
    }
    .benefits__item{
        width: 390px;
        height: 100px;
    }
    .benefits__item:last-child{
        width: 1500px;
    }
    .brands__items{
        
    }
    .brands__item{
        width: 401px;
        border-bottom: 1px solid rgba(45,45,45,.5);
    }
    .feedback__gallery-item-wrap{
        grid-template-columns: 310px 600px;
    }
    .footer__feedback{
        display: flex;
    }
}
@media (max-width: 768px) {
    .header{
        // margin-bottom: 200px;
    }
    .header__top-title-img,
    .header__top-title-img-dark{
        width: 99.9%;
    }
    .header__bottom-social{
        margin-right: 15px;
    }
    .benefits__item{
        width: 315px;
    }
    .request{
        margin-bottom: 50px;
    }
    .brands__inner{
        padding-top: 0;
    }
    .brands__items{
        margin-bottom: 0;
    }
    .brands__item{
        width: 366px;
    }
    .feedback{
        padding-top: 0;
    }

    .location__address-btn-text{
        font-size: 14px;
    }

}
@media (max-width: 375px) {
    .header__bg{
        display: none;
    }
    .header__top-bg{
        display: block;
        background-image: url('../images/mini-header-bg-2.jpg');
    }

    .header__top-info{
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(6px);
        height: 405px;
        margin: 50px 20px;
        padding: 69px 21px;
    }
    .header__top-btns{
        // align-items: center;
        padding-left: 15.5px;
    }
    .header__top-title-img{
        display: none;
    }
    .header__top-title-img-dark{
        display: block;
        margin-bottom: 16px;
        width: 100%;
    }
    .header__top-title-img-dark:last-child{
        padding-left: 30px;
        width: 88%;
    }
    .header__bottom-text{
        display: none;
    }
    .header__bottom-text::after{
        display: none;
    }
    .header__bottom-social{
        display: none;
    }
    .header__top-nav{
        display: flex;
        position: absolute;
        left: 6px;
        bottom: 100px;
        .header__bottom-text{
        color: $clr-2;
        display: block;
        }
        .header__bottom-text::after{
        background-color: $clr-2;
        display: block;
        }
        .header__bottom-social-dark{
            display: flex;
            width: 115px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            margin-right: 9px;
        }
    }
    .header__screen-feedback{
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        position: absolute;
        top: 550px;
        left: 40px;
        .header__btn{
            margin-bottom: 5px;
        }
    }
    .benefits__box{
        margin-top: 50px;
    }
    .catalog{
        margin-top: 200px;
    }
    .swiper{
        
    }
    .request__form-item-wrap{
        width: 345px;
    }
    .request{
        background-image: url('../images/request-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 595px;
        margin-bottom: 0;
    }
    .brands__item + .brands__item{
        border-left: none;
    }
    .brands__item:last-child{
        border-bottom: none;
    }
    .feedback{
        margin-bottom: 0;
    }
    .feedback__box{
        text-align: left;
    }
    .feedback__text{
        width: 340px;
    }
    .feedback__gallery-item-wrap{
        grid-template-columns: 127px 248px;
        grid-template-rows: 125px;
    }
    .location__address{
        flex-flow: column-reverse;
    }
    .location__address-map{
        width: 345px;
        height: 345px;
        margin-bottom: 25px;
    }
    .location__item:last-child{
        margin-bottom: 0;
    }
    .location__text{
        width: 350px;
        margin-top: 5px;
    }
    .footer{
        height: 753px;
    }
    .menu__list{
        flex-direction: column;
        margin-bottom: 0;
        &-link{
            margin-bottom: 50px;
        }
    }
    .footer__bottom-social{
        display: FLEX;
        margin-right: 0;
        margin-bottom: 50px;
    }
}