.swiper{
    width: 1440px;
    height: 600px;
    margin: 0 auto;
}
.swiper-wrapper{
    width: 100%;
    margin: 0 auto;
}
.swiper .swiper-slide{
    width: 460px;
}

.swiper-slide img{
    filter: brightness(.7);
}
.slider-title-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.slider-title{
    color: $clr-2;
    text-align: center;
    padding-top: 50%;
    word-spacing: 8.888px;
}

.swiper-button-next::after,                        
.swiper-button-prev::after{
    display: none;
}                       

.swiper-buttons{
    position: relative;
}

.swiper-button-next,
.swiper-button-prev{
    top: 280px !important;
    background-image: url('../images/arrow.svg');
    width: 60px !important;
    height: 60px !important;
    background-color: transparent;
}

.swiper-button-prev{
    transform: rotate(180deg);
    left: -90px !important;
}
.swiper-button-next{
    right: -90px !important;
}